@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  padding: 15px;
  border-radius: 10px;
}

.header {
  display: flex;
  column-gap: 5px;
  padding-inline: 15px;
  grid-column: 2 / 3;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-block: 15px;
  grid-row: 2 / 3;
}

.header-cell {
  display: flex;
  justify-content: center;
  align-items: end;
}

.column-cell {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5px;
}

.cell-computer {
  border: 1px solid #c8c8c8;
  place-content: center;
}

.cell {
  border: 1px solid #c8c8c8;
  place-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.cell:hover {
  background-color: #593bdf9c;
}

.cell:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.is-ship {
  border: 1px solid rgb(47, 187, 0);
  background-color: rgba(20, 201, 20, 0.315);
}

.clicked {
  background-color: rgba(44, 96, 175, 0.514);
  pointer-events: none;
}
